<div *ngIf="project != null" class="container">
  <img src="{{ project.image }}" alt="Image" class="image" />
  <h1 class="title">{{ project.name }}</h1>
  <p class="description">{{ project.description }}</p>
  <div class="share">
    Share
    <ul>
      <li><i class="fa-brands fa-facebook-f"></i></li>
      <li><i class="fa-brands fa-youtube"></i></li>
      <li><i class="fa-brands fa-linkedin-in"></i></li>
      <li><i class="fa-brands fa-instagram"></i></li>
      <li><i class="fa-brands fa-pinterest"></i></li>
    </ul>
  </div>
  <div class="client">Client</div>
</div>
