/* @import url("https://fonts.googleapis.com/css?family=Cutive+Mono"); */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Cutive Mono", serif;
  font-size: 1.2em;
  line-height: 1.6;
  background: #fff;
  overflow-x: hidden;
}

label .menu {
  position: absolute;
  right: auto;
  left: auto;
  top: 50px;
  background: #fff;
  z-index: 100;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50% 50% 50% 50%;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  cursor: pointer;
}

label .hamburger {
  position: absolute;
  top: 24px;
  left: 14px;
  width: 22px;
  height: 2px;
  border-color: #000;
  border-width: 20px;
  background: #000;
  display: block;
  transform-origin: center;
  transition: 0.5s ease-in-out;
}
label .hamburger:after, label .hamburger:before {
  transition: 0.5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;

}
label .hamburger:before {
  top: -10px;
}
label .hamburger:after {
  bottom: -10px;
}
label input {
  display: none;
}
label input:checked + .menu {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
  border-radius: 0;
}
label input:checked + .menu .hamburger {
  transform: rotate(45deg);
}
label input:checked + .menu .hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
label input:checked + .menu .hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
label input:checked + .menu + ul {
  opacity: 1;
}
label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.25s 0s ease-in-out;
  list-style-type: none;
}
/* Text css */
label a {
  margin-bottom: 1em;
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

 .list-item {
  position: relative;
  top: 70px;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-size: 67px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-indent: 10px;
  line-height: 0.5;
  letter-spacing: 5px;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: #00ff00;

}
